<!--- Include header -->

<%- include('include/_header') %>
<!---- /include header -->


<!--- Main site--->

<main id="site-main">
	<div class="container">
		<div class="box-nav d-flex justify-between">
			<div class="filter">

				<a href="/"><i class="fas fa-angle-double-left"></i> Todas os Casas </a>
			</div>
		</div>
		<div class="form-title text-center">
			<h2 class="text-dark"> Atualizar Casa</h2>
			<span class="color: grey">Utilizar  o formulario em baixo para  atualizar uma nova conta </span>
		</div>	

		<!-- form handling -->

		<!-- form handling -->

		<form  method="POST" id="update_casa">
			<div class="new_user">
				<div class="form-group">

					<label for="morada" class="text-light"> Morada</label>

					<input type ="text" name="id" value="<%= casa._id%>" placeholder="update id">

					<label for="morada" class="text-light"> Morada</label>
					<input type="text" name="morada" value="<%=casa.morada%>" placeholder="Morada da casa ">
				</div>
				<div class="form-group">
					<label for="contacto" class="text-light"> Contacto </label>
					<input type="text" name="contacto" value="<%=casa.contacto%>"placeholder="Numero de telefone">
				</div>
				<div class="form-group">
					<label for="estado_do_bairro" class="text-light"> Estado do bairro</label>
					<input type="text" name="estado_do_bairro" value="<%=casa.estado_do_bairro%>"placeholder="Morada da casa ">
				</div>
				<div class="form-group">
					<label for="fotografia_da_localização" class="text-light"> Fotografias das localizações</label>
					<input type="text" name="fotografia_da_localização" value="<%=casa.fotografia_da_localização%>" placeholder=" url das fotografias da localização ">
				</div>

				<div class="form-group">
					<label for="foto_1" class="text-light"> Foto_1</label>
					<input type="text" name="foto_1" value=""placeholder=" url das foto_1 ">
				</div>
				<div class="form-group">
					<label for="foto_2" class="text-light"> Foto_2</label>
					<input type="text" name="foto_2" value=""placeholder=" url das foto_2 ">
				</div>
				<div class="form-group">
					<label for="foto_3" class="text-light"> Foto_3</label>
					<input type="text" name="foto_3" value=""placeholder=" url das foto_3">
				</div>
				<div class="form-group">
					<label for="foto_4" class="text-light"> Foto_4</label>
					<input type="text" name="foto_4" value=""placeholder=" url das foto_4">
				</div>

				<div class="form-group">
					<label for="foto_5" class="text-light"> Foto_5</label>
					<input type="text" name="foto_5" value=""placeholder=" url das foto_5">
				</div>

				<div class="form-group">
					<button type="submit" class="btn text-dark update">Guardar</button>
				</div>


		</form>



			</div>
</main>




<!--- /Main site--->

<!--- Include footer -->

<%- include('include/_footer') %>
<!---- /include footer 	--->
