				
<div class='columns is-multiline'>

						<% for(var i = 0; i < casas.length; i++) {%>

							  <div class='column is-4'>		

	<div class="card" style="width: 650px;">
		  <header class="card-header">
    <p class="card-header-title">
    	<i class="fa-solid fa-house" style="color: grey;"></i>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        	<%= i + 1  %>

      </span>
    </button>
  </header>
     <img src="<%-casas[i].fotografia_da_localização%>"  > 
    <footer class="card-footer">
    <div class="card-footer-item">Morada : <%= casas[i].morada %></div>
    <div class="card-footer-item">Contacto :<%= casas[i].contacto %></div>
    <div class="card-footer-item"> Estado : <%= casas[i].estado_do_bairro %> </div>
  </footer>
		</div>
								</div>







					
						<% } %>

</div>	