
<div class='columns is-multiline'>
	<% for(var i = 0; i < casas.length; i++) {%>

	<div class='column is-4'>		

	<div class="card" style="width: 650px; " align="center">
	<header class="card-header">
    <!--
    <p class="card-header-title"> 
    	<a href="/update-casa?id=<%= casas[i]._id%>"><i class="fa-solid fa-pen-to-square" style="color: #008B8B;"></i>
      </a>
    </p>
    <button class="card-header-icon" aria-label="more options">
    <a  data-id=<%=casas[i]._id%>>
      <i class="fa-solid fa-delete-left" style="color: #8B0000;">          
      </i>
     </a>    
    </button>
    --->
  </header>
    <!-- Image to modal trigger--->
    <a class="js-modal-trigger" data-target="<%= casas[i]._id%>">
    <img src="<%-casas[i].fotografia_da_localização%>" > 
    </a>

    <footer class="card-footer">
    <b class="card-footer-item">Morada</b>
    <b  class="card-footer-item">Contacto</b>
    <b class="card-footer-item">Estado da localização </b>
    </footer>
    <footer class="card-footer">
    <div class="card-footer-item" align="center" style="  border-bottom: 2px solid purple;">    	
    <%= casas[i].morada %> </div>
    <div class="card-footer-item" align="center" style="  border-bottom: 2px solid green; "> <%= casas[i].contacto %></div>
    <div class="card-footer-item" align="center" style="  border-bottom: 2px solid pink; ">  <%= casas[i].estado_do_bairro %> </div>
    </footer>
		</div>
		</div>

<!--- Setting up the modal  --->

<div id="<%= casas[i]._id%>" class="modal">

<div class="modal-background"></div>
<div class="modal-content">

 <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="<%-casas[i].foto_1%>" ></div>
    <div class="swiper-slide"><img src="<%-casas[i].foto_2%>"></div>
      <div class="swiper-slide"><img src="<%-casas[i].foto_3%>"></div>
    <div class="swiper-slide"><img src="<%-casas[i].foto_4%>" ></div>
    <div class="swiper-slide"><img src="<%-casas[i].foto_5%>" ></div>


  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

</div>
<button class="modal-close is-large" aria-label="close"></button>
</div>

	</div>				

<% } %>
</div>	
